html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

.container-chats {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.chat {
  flex: 1;
  transition: flex 0.3s ease;
}

.chat.full-width {
  flex: 2; 
}

.detail {
  flex: 1;
}
